// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

// Layout
.container {
    width: 80%;
    margin: 0 auto;
}